*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Inter', sans-serif;
	font-family: 'Lexend Deca', sans-serif;
}

body {
	font-size: 1.5rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 50px;
	background: rgb(9, 11, 26);
}

.card {
	display: flex;
	width: 75%;
	height: 60%;
	border-radius: 10px;
	overflow: hidden;
}

.card__image,
.card__content {
	flex: 0 1 50%;
}

.card__image {
	position: relative;
	background: url('./images/image-header-desktop.jpg');
	background-size: 100% 100%;
}

.card__image::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(102, 18, 154, 0.564);
}

.card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 60px;
	background: rgb(27, 25, 56);
}

.card__description {
	margin-bottom: 60px;
}

.title {
	margin-bottom: 40px;
	text-align: center;
	font-size: 3.5rem;
	font-weight: 700;
	color: white;
}

.title span {
	color: rgb(170, 92, 219);
}

.card__stat {
	display: flex;
	justify-content: space-between;
}

.text {
	line-height: 2.5rem;
	color: rgba(255, 255, 255, .75);
}

.stat__header {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, .6);
}

.stat__body {
	margin-bottom: 10px;
	font-size: 2.8rem;
	color: white;
}

/* desktop */
@media (max-width: 1200px) {
	.card__content {
		padding: 50px;
	}

	.title {
		font-size: 3rem;
	}

	.card__description {
		margin-bottom: 40px;
	}
}

@media (max-width: 1024px) {
	.card {
		width: 100%;
		height: 70%;
	}

	.card__content {
		padding: 30px 30px 70px 30px;
	}

	.stat__header {
		font-size: 1.1rem;
	}

	.stat__body {
		font-size: 2.6rem;
	}
}

/* tablets */
@media (max-width: 768px) {
	.wrapper {
		padding: 80px;
	}

	.card {
		flex-direction: column;
		height: 100%;
	}

	.card__image {
		order: 1;
		flex-basis: 40%;
		flex-shrink: 0;
	}

	.card__content {
		order: 2;
		flex-basis: 60%;
		padding: 40px;
		border-radius: 0 0 10px 10px;
	}

	.text {
		text-align: center;
	}
}

/* mobile */
@media (max-width: 580px) {
	html {
		font-size: 53%;
	}

	.wrapper {
		padding: 50px 20px;
	}

	.card__image {
		flex-basis: 35%;
	}

	.card__content {
		flex-basis: 65%;
		align-items: center;
		padding: 30px;
	}

	.title {
		margin-bottom: 25px;
	}

	.card__stat {
		flex-direction: column;
	}

	.stat__column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.stat__header {
		margin-bottom: 15px;
	}

	.stat__body {
		margin-bottom: 0;
	}
}

@media (max-width: 380px) {
	.card__image {
		flex-basis: 30%;
	}

	.card__content {
		flex-basis: 70%;
	}
}

@media (max-width: 330px) {
	html {
		font-size: 50%;
	}

	.wrapper {
		padding: 20px;
	}

	.card__content {
		padding: 15px;
	}
}