@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

:root {
	/** =================== Colors =================== */
	/* Background */
	--wrapper-bg-color: rgb(9, 11, 26);
	--content-bg-color: rgb(27, 25, 56);
	--image-bg-color: rgba(102, 18, 154, 0.564);

	/* Font */
	--title-font-colot: white;
	--title-marker-font-color: rgb(170, 92, 219);
	--text-font-color: rgba(255, 255, 255, .75);
	--stat-header-font-color: rgba(255, 255, 255, .6);
	--stat-body-font-color: white;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.5rem;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 600px;
	padding: 50px;
	background: var(--wrapper-bg-color);
}

.card-component {
	display: flex;
	width: 75%;
	min-height: 480px;
	border-radius: 10px;
	overflow: hidden;
}

.image,
.content {
	flex: 0 1 50%;
}

/** ==================== Content ==================== */
.content {
	background: var(--content-bg-color);
}

.content__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 0 60px;
}

.content__description {
	margin-bottom: 60px;
}

.title {
	text-align: center;
	font-size: 3.5rem;
	font-weight: 700;
	color: var(--title-font-colot);
}

.content__title {
	margin-bottom: 40px;
}

.title span {
	color: var(--title-marker-font-color);
}

.stat {
	display: flex;
	justify-content: space-between;
}

.text {
	line-height: 2.5rem;
	color: var(--text-font-color);
}

.stat__header {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 1px;
	color: var(--stat-header-font-color);
}

.stat__body {
	font-family: 'Lexend Deca', sans-serif;
	margin-bottom: 10px;
	font-size: 2.8rem;
	color: var(--stat-body-font-color);
}

/** ==================== Image ==================== */
.image {
	position: relative;
	background: url('./images/image-header-desktop.jpg');
	background-size: 100% 100%;
}

.image::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: var(--image-bg-color);
}

/** ==================== Media ==================== */
/* Desktops */
@media (max-width: 1200px) {
	html {
		font-size: 57%;
	}

	.wrapper {
		min-height: 500px;
	}

	.card-component {
		min-height: 380px;
	}

	.content__inner {
		padding: 50px;
	}

	.title {
		font-size: 3rem;
	}

	.content__description {
		margin-bottom: 40px;
	}
}

/* Laptops */
@media (max-width: 1024px) {
	.card-component {
		width: 100%;
	}
}

/* tablets */
@media (max-width: 768px) {
	.wrapper {
		min-height: 850px;
	}

	.card-component {
		flex-direction: column;
		height: 100%;
		height: 800px;
	}

	.content {
		order: 2;
		flex-basis: 55%;
		border-radius: 0 0 10px 10px;
	}

	.content__inner {
		padding: 0 60px;
	}

	.text {
		text-align: center;
	}

	.image {
		order: 1;
		flex-basis: 45%;
		flex-shrink: 0;
	}
}

/* mobile */
@media (max-width: 480px) {
	html {
		font-size: 57%;
	}

	.wrapper {
		display: block;
		padding: 80px 25px;
		min-height: 900px;
	}

	.card-component {
		height: 750px;
	}

	.content {
		flex-basis: 65%;
		align-items: center;
	}

	.content__inner {
		justify-content: flex-start;
		padding: 35px;
	}

	.content__title {
		margin-bottom: 25px;
	}

	.text {
		font-size: 1.6rem;
	}

	.stat {
		flex-direction: column;
	}

	.stat__column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.stat__header {
		margin-bottom: 20px;
	}

	.stat__body {
		margin-bottom: 5px;
	}

	.image {
		flex-basis: 35%;
	}
}

@media (max-width: 380px) {
	.image {
		flex-basis: 30%;
	}

	.content {
		flex-basis: 70%;
	}
}

@media (max-width: 330px) {
	html {
		font-size: 50%;
	}

	.wrapper {
		padding: 20px;
	}

	.content__inner {
		padding: 15px;
	}
}